* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  height: 73vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.tile {
  height: 200px;
  width: 200px;
  margin-left: 95px;
  margin-right: 95px;
  margin-bottom: 15px;
  background-color: aliceblue;
}

#tries {
  margin-top: 10px;
}

button {
  border-color: black;
  border-width: 2px;
  padding: 5px;
  margin: 10px;
}

#heh {
  background-color: lightpink;
}